!!! 5
html(lang="en")
  head
    title Quick Demo
    script(type='text/javascript', src='/api/nodevent')
    != js('nodeventdemo')
  body
    h1 Jade - node template engine
    #container
      p You are amazing
      